.product-page {
    display: flex;
    margin-bottom: 100px;
}

.product-img {
    width: 80px;
    height: 80px;
    margin-bottom: 40px;
    opacity: 0.8;
}

.product-img:hover {
    cursor: pointer;
}

.active-product-img {
    opacity: 1;
}

.product-img img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.main-product-img {
    margin-left: 40px;
    margin-right: 100px;
    min-width: 610px;
    min-height: 510px;
}

.main-product-img img {
    width: 610px;
    height: 510px;
    object-fit: cover;
}

.desc-header h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 27px;
}

.desc-header h3 {
    margin-bottom: 16px;
    font-size: 30px;
    font-weight: 600;
    line-height: 27px;
}

.product-attributes {
    margin-top: 43px;
}

.product-price {
    margin-top: 36px;
}

.product-price h2 {
    margin: 10px 0 20px 0;
}

.product-addButton {
    padding: 14px 92px;
    margin: 20px 0 40px 0;
    font-size: 16px;
    color: #fff;
    background-color: #5ece7b;
    border: 2px solid #5ece7b;
    transition: all 0.2s ease-in-out;
}

.product-addButton:hover {
    background-color: #fff;
    color: #5ece7b;
    border: 2px solid #5ece7b;
    cursor: pointer;
}

.product-description {
    font-size: 16px;
    font-family: "Roboto", serif;
    color: #1d1f22;
}
