.cart-item {
    margin-top: 55px;
    padding: 24px 0 30px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
    position: relative;
}

.cart-overlay .cart-item {
    border: none;
    margin-top: 0;
}

.cart-overlay__content {
    padding: 32px 16px;
}

.main-cart-img__section img {
    width: 200px;
    height: 288px;
    object-fit: cover;
}

.cart-item__overlay .main-cart-img__section img {
    width: 121px;
    height: 190px;
    object-fit: cover;
}

.main-cart-img__section {
    width: 200px;
    height: 288px;
    position: relative;
}

.cart-overlay .main-cart-img__section {
    width: 121px;
    height: 190px;
    position: relative;
}

.left-arrow {
    margin-right: 8px;
}

.cart-img__arrows {
    position: absolute;
    bottom: 14px;
    right: 16px;
}

.cart-item__overlay .cart-img__arrows {
    display: none;
}

.cart-img__arrows span:hover {
    cursor: pointer;
}

.cart-img__quantity {
    position: absolute;
    top: 0;
    right: 224px;
}

.cart-item__overlay .cart-img__quantity {
    position: absolute;
    top: 0;
    right: 134px;
}

.cart-img__quantity div:hover {
    cursor: pointer;
}

.cart-img__quantity span {
    position: absolute;
    top: 130px;
    right: 15px;
    font-weight: 500;
    font-size: 24px;
}

.cart-item__overlay .cart-img__quantity span {
    position: absolute;
    top: 80px;
    right: 8px;
    font-weight: 500;
    font-size: 16px;
}

.cart-img__quantity-plus {
    width: 45px;
    margin-bottom: 193px;
}

.cart-item__overlay .cart-img__quantity-plus {
    width: 24px;
    margin-bottom: 140px;
}

.cart-img__quantity-down {
    width: 45px;
}

.cart-item__overlay .cart-img__quantity-down {
    width: 24px;
}

.cart-item__overlay {
    width: 325px;
}

.cart-item__overlay .desc-header h3 {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 300;
}

.cart-item__overlay .desc-header h2 {
    margin-top: -5px;
    font-size: 16px;
    font-weight: 300;
}

.cart-item__overlay .product-price h2 {
    margin-top: -22px;
    font-size: 16px;
    font-weight: 500;
}

.cart-item__overlay .product-attributes {
    margin-top: -10px;
}

.cart-item__overlay .product-attributes h3 {
    font-size: 14px;
    font-weight: 400;
}

.cart-item__overlay .product-attributes__all {
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
}

.cart-item__overlay .product-attributes__color {
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
}
