.currencies {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.currencies li {
    padding: 8px 20px 8px 20px;
    font-size: 18px;
    font-weight: 500;
    color: #1d1f22;
}

.currencies li:hover {
    background-color: #eee;
    cursor: pointer;
}
